body {
  box-sizing: border-box; /* here is my border box */
  background-color: #333;
  font-family: sans-serif;
}
/* below are my nesting to style the text */
  .header h1 {
    font-size: 48px;
    color:#FFF;
  }
  .header h3 {
    font-size: 24px;
    color:#FFF;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
  width: 90%; /* here is my restaurant percentage to establish width of divs in this section */
}

/* location hover does not seem to be working */
location:hover {
  background-color: yellow;
}
# css-exercise-three
